* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: serif;
  font-weight: 300;
  font-style: normal;
  background-color: rgb(255 241 223);
  color: #000000;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.navbar {
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px #000000;
  a {
    color: #000000;
  }
  h1 {
    margin-left: 40px;
    font-size: x-large;
  }
  .collapse {
    justify-content: end;
  }
  .nav-ul {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav-item {
    text-align: center;
    margin-left: 30px;
    a {
      font-size: small;
    }
  }
}

.container {
  padding-top: 100px;
  .top-img {
    display: flex;
    justify-content: center;
    img {
      object-fit: cover;
      width: 80%;
    }
  }
  section {
    display: flex;
    justify-content: center;
  }
}

.box {
  margin-top: 50px;
  .session-title {
    font-size: calc(10px + 1.2vw);
    display: flex;
    justify-content: center;
  }
  .session-title-bg {
    margin: 0 10px;
    object-fit: cover;
    width: 30%;
  }
  .content {
    margin-top: 50px;
    ul {
      margin-bottom: 20px;
    }
    li {
      list-style: none;
      margin-bottom: 20px;
    }
    li:last-child {
      margin-bottom: 0;
    }
    a {
      color: #000000;
    }
    p {
      margin-top: 50px;
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
}

.panel {
  border-top: dotted 1px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px 40px 20px;
  .panel-image {
    object-fit: cover;
    width: 25%;
  }
  .panel-body {
    text-align: left;
    font-size: calc(10px + 0.5vw);
    margin-left: 20px;
    text-decoration: none;
  }
  &:last-child {
    border-bottom: dotted 1px #000000;
  }
}

footer {
  height: 80%;
  background-color: rgb(255, 255, 255);
  border-top: solid 1px #000000;
  .ft-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    .ft-title {
      font-size: calc(5px + 1.2vw);
      color: dimgray;
    }
    .sns-img {
      object-fit: cover;
      height: 30px;
      margin-left: 30px;
    }
  }
}
